.footer {
    background-color: black;
    padding: 30px 0;
  }
  
  .footer h5 {
    font-weight: bold;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer .bg-dark {
    background-color: #343a40;
    color: #fff;
  }
  