
.empty_layout{
  background-image: url('https://images.pexels.com/photos/2112399/pexels-photo-2112399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}

.login-form{ 
  
	width:320px;
	margin:20px;
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    /* max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  